@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply border p-2 rounded-md w-full outline-none focus:ring-2 focus:ring-blue-500;
}

.btn-primary {
  @apply bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700;
}

.btn-secondary {
  @apply bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600;
}

.btn-danger {
  @apply bg-red-600 text-white px-3 py-1 rounded-md hover:bg-red-700;
}

.th {
  @apply p-3 text-left;
}

.td {
  @apply p-3;
}
.row-hover:hover {
  @apply bg-gray-50 transition;
}
