jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Java JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean install
